<% 
  @page_title = "Edit Page Text #{h(@page_text.key)}"
%>

<% form_for(@page_text) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :cols => 100 %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @page_text %> |
<%= link_to 'Back', page_texts_path %>
